<h1>Editing doctor appointment</h1>

<%= render "form", doctor_appointment: @doctor_appointment %>

<br>

<div>
  <%= link_to "Show this doctor appointment", @doctor_appointment %> |
  <%= link_to "Back to doctor appointments", doctor_appointments_path %>
</div>
