<p style="color: green"><%= notice %></p>

<h1 class="text-center text-2xl font-semibold text-cyan-500 mb-8">Doctor appointments</h1>

<table class="min-w-full table-auto border border-gray-300">
          <thead>
            <tr>
              <th class="px-4 py-2">Patient Name</th>
              <% if can? :manage, @patient %>
                <th class="px-4 py-2">Doctor Name</th>
              <% end %>

              <th class="px-4 py-2">Date</th>
              <th class="px-4 py-2">Illness</th>
              <% if can? :manage, @patient %>
                <th class="px-4 py-2">Actions</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
              <% @doctor_appointments.each do |doctor_appointment| %>
    <tr>
                <%= render doctor_appointment %>
    </tr>
  <% end %>
          </tbody>
        </table>


<%= link_to "New doctor appointment", new_doctor_appointment_path %>
