<h1 class="text-center text-2xl font-semibold text-cyan-500 mb-8">New doctor appointment</h1>

<%= render "form", doctor_appointment: @doctor_appointment %>

<br>

<div>
  <%= link_to "Back to doctor appointments", doctor_appointments_path %>
</div>
